<div class="container">
  <app-progress-spinner *ngIf="isUserLoading; else userInfo"></app-progress-spinner>

  <ng-template #userInfo>
    <div class="user my-info-card" *ngIf="user">
      <h1>{{ user.name }}({{ user.email }})</h1>
      <hr>
      <p></p>
      <a class="back-arrow" (click)="goBack()">
        <img src="../..//src/assets/icons/back-arrow.png" alt="Back">
      </a>
    </div>
  </ng-template>

  <h2>Reports:</h2>

  <app-progress-spinner *ngIf="isReportsLoading; else reportList"></app-progress-spinner>

  <h3 class="notifying-message" *ngIf="isNoReports()">This user didn't leave reports</h3>

  <ng-template #reportList>
    <ul class="list-group">
      <li *ngFor="let report of reports">
        <a class="list-group-item list-group-item-action" data-bs-toggle="collapse">{{ report.projectTitle }} ({{ report.createDate }})</a>
          <div class="card card-body">
            {{ report.report }}
          </div>
      </li>
    </ul>
  </ng-template>
</div>
