<li class="project" [routerLink]="['/project-info', project._id]">
  <div class="card" style="width: 18rem;">
    <button class="btn-close btn-close-white delete-btn" (click)="deleteProject($event)"
    *ngIf="role === 'admin' && isUnfinished"></button>
    <img [src]="project.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ project.startDate }} - {{ project.endDate || '...'}}</li>
    </ul>
    <div class="card-body">
      <div class="crud-btns" *ngIf="role === 'admin' && isUnfinished">
        <button class="btn btn-secondary"
                type="button" data-bs-toggle="modal" (click)="openUsersModal(project, $event)">USERS</button>
        <button class="btn btn-secondary"
                type="button" data-bs-toggle="modal" (click)="openEditModal(project, $event)">EDIT
        </button>
        <button class="btn btn-secondary" (click)="finishProject(project, $event)">FINISH</button>
      </div>
      <button *ngIf="role === 'user'" class="btn btn-secondary task-btn"
              (click)="openReportModal(project, $event)">Do the report</button>
    </div>
  </div>
</li>


