.card {
  box-shadow: 0 0 2px 0 white;
  transition: .3s;
  position: relative;
  cursor: pointer;


  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px 0 white;
  }

  .crud-btns {
    button {
      margin-right: 5px;
    }
  }

  .card-img-top {
    background-size: cover;
  }

  .delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem;
  }

  .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .user-access-btns {
    display: flex;
    justify-content: space-between;
  }

  .project-status {
    font-size: 14px;
    color: #ffbb70;
  }
}

