.container {
  .users-list {
    margin-top: 2rem;
  }

  .statistics {
    margin-top: 2rem;

    .pie-chart {
      text-align: center;
      width: 800px;
      margin: 0 auto;
    }
  }

  .statistics {
    display: flex;
    flex-direction: column;

    .pie-chart {
      margin-top: 1rem;
    }
  }
}
